@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;

@if(signInManager.IsSignedIn(User))
{
    <div>
        <div class="btn btn-info">@userManager.GetUserName(User)</div>
        <a asp-action="logout" asp-controller="account" asp-area="" class="btn btn-info">Logout</a>
    </div>

} else
{
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-info" asp-route="register">Register</a>
        <a class="btn btn-info" asp-route="login">Login</a>
    </form>
}

